.header {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 220px;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.header h1 {
  font-size: 35px;
  font-weight: 600;
  color: #333;
  margin: 0;
}
